
main {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0  1rem;

    h2 {
        padding: 2.5rem 0;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    
        li {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        .question-trigger { 
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
        }
    }
    
}

